{{define "content"}}
<div class="col-sm-12">
	<div class="well">
		<h1>Contact</h1>
	</div>
{{if eq .Lang "ja"}}
	<section>
		<h2 class="page-header">連絡先について</h2>
		<p>このサイト上での不具合は<a href="https://github.com/tut-cc/SamurAI_Coding_2017-18_Practice_PageTemplates" target="_blank">こちらのGitHunリポジトリ</a>までご連絡ください。</p>
		<p>また、以下のような選択肢もございます。</p>
		<h3>ゲームサーバにおける不具合・要望を報告</h3>
		<p><a href="https://github.com/SamurAI-Coding/AIContainer2017-18" target="_blank">https://github.com/SamurAI-Coding/AIContainer2017-18</a></p>
		<p>言語環境などの要請も行うことができます。</p>
		<h3>提供ソフトウェアの不具合を報告</h3>
		<p><a href="https://github.com/SamurAI-Coding/Software2017-18" target="_blank">https://github.com/SamurAI-Coding/Software2017-18</a></p>
		<h3>Twitterで報告</h3>
		<p>SamurAI Codingのアカウント : <a href="https://twitter.com/IpsjSamurAI" target="_blank">@IpsjSamurAI</a></p>
		<p>ダイレクトメッセージを送る <a href="https://twitter.com/messages/compose?recipient_id=4619450179"
  class="twitter-dm-button" data-screen-name="@IpsjSamurAI">
Message @IpsjSamurAI</a></p>
		<p><a href="https://twitter.com/intent/tweet?screen_name=IpsjSamurAI&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @IpsjSamurAI</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p>
		<p><a href="https://twitter.com/intent/tweet?button_hashtag=SamurAICoding&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #SamurAICoding</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p>
		<h3>メールで報告</h3>
		<p><a href="mailto:samurai-contact@ipsj.or.jp">samurai-contact@ipsj.or.jp</a></p>
	</section>
{{else}}
	<section>
		<h2 class="page-header">Contact Information</h2>
		<p>If you face issues at this web site, Please let us know it to <a href="https://github.com/tut-cc/SamurAI_Coding_2017-18_Practice_PageTemplates" target="_blank">this GitHub repository</a></p>
		<p>There are other available options.</p>
		<h3>Report issues/requests on the game server</h3>
		<p><a href="https://github.com/SamurAI-Coding/AIContainer2017-18" target="_blank">https://github.com/SamurAI-Coding/AIContainer2017-18</a></p>
		<p>You can request languages/libraries environemnt.</p>
		<h3>Report issues of official softwares</h3>
		<p><a href="https://github.com/SamurAI-Coding/Software2017-18" target="_blank">https://github.com/SamurAI-Coding/Software2017-18</a></p>
		<h3>Report on Twitter</h3>
		<p>SamurAI Coding account : <a href="https://twitter.com/IpsjSamurAI" target="_blank">@IpsjSamurAI</a></p>
		<p>Send Direct Messages <a href="https://twitter.com/messages/compose?recipient_id=4619450179"
  class="twitter-dm-button" data-screen-name="@IpsjSamurAI">
Message @IpsjSamurAI</a></p>
		<p><a href="https://twitter.com/intent/tweet?screen_name=IpsjSamurAI&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @IpsjSamurAI</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p>
		<p><a href="https://twitter.com/intent/tweet?button_hashtag=SamurAICoding&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #SamurAICoding</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p>
		<h3>Report from e-mail</h3>
		<p><a href="mailto:samurai-contact@ipsj.or.jp">samurai-contact@ipsj.or.jp</a></p>
	</section>
{{end}}
</div>
{{end}}
